[submodule "bypassd_kernel"]
	path = kernel
	url = https://github.com/SujayYadalam94/bypassd_kernel.git
[submodule "userLib"]
	path = userLib
	url = https://github.com/SujayYadalam94/userLib.git
[submodule "workloads/fio"]
	path = workloads/fio
	url = https://github.com/axboe/fio.git
